/SGAS/nbproject/private/
/SGAS/SGAS-war/nbproject/private/
/SGAS/SGAS-ejb/nbproject/private/
/SGAS/SGAS-ejb/build/
/SGAS/SGASCliente/nbproject/private/
/SGAS/SGASCliente/build/
/SGAS/build/
/SGAS/SGAS-war/dist/
/SGAS/SGAS-war/build/
/SGAS/SGASCliente/dist/
/SGAS/SGAS-ejb/dist/
/SGAS/dist/