/* 
    Document   : css
    Created on : 22/06/2012, 20:29:55
    Author     : www
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

direita {
  float:right;
  width:10%;
  height: 65%;
  background: #EBEBEB;
}

rodape {  
    color: background

} 

